.NotFound h2 {
    font-size: 84px;
    color: #fff;
    font-weight: 700;
    text-align: center;
}

.NFimg {
    display:flex;
    justify-content: center;
}

.NotFound {
    margin: 40px 140px;
}

.NFimg img {
    width: 100%;
    height: 250px;
}